In [1]:
import pandas as pd

In [32]:
df = pd.read_csv("./Tieliikenneonnettomuudet_2021/tieliikenneonnettomuudet_2021_onnettomuus.csv", encoding = "latin-1",sep = ";")

/var/folders/fl/9mp7bzjn6dsd75y5ddj6mfc80000gn/T/ipykernel_45119/712918407.py:1: DtypeWarning: Columns (82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./Tieliikenneonnettomuudet_2021/tieliikenneonnettomuudet_2021_onnettomuus.csv", encoding = "latin-1",sep = ";")

In [33]:
df.head()

,Onnett_id,Tienpit,Tienpitsel,Tie,Aosa,Aet,Ajr,Vuosi,Kk,Vakavuusko,...,Poikkileik,Poikleikse,Päällyslev,Päällystlk,Päällksel,Nakos150,Nakos300,Nakos460,Runkotie,Raskos
0,10205475,-1,Ei arvoa,NaN,NaN,NaN,NaN,2021,9,0,...,-1,Ei arvoa,NaN,-1,Ei arvoa,NaN,NaN,NaN,NaN,ei
1,10200513,1,Väylävirasto,1.0,3.0,9.0,2.0,2021,9,0,...,2,2 ajor,114.0,10,kovat asfaltit,97.0,76.0,57.0,1.0,ei
2,10084621,1,Väylävirasto,1.0,3.0,220.0,1.0,2021,8,0,...,2,2 ajor,104.0,10,kovat asfaltit,97.0,76.0,57.0,1.0,ei
3,10079162,1,Väylävirasto,1.0,3.0,225.0,1.0,2021,8,0,...,2,2 ajor,104.0,10,kovat asfaltit,97.0,76.0,57.0,1.0,ei
4,10086234,1,Väylävirasto,1.0,3.0,368.0,2.0,2021,8,1,...,2,2 ajor,115.0,10,kovat asfaltit,97.0,76.0,57.0,1.0,ei

In [16]:
df2 = pd.read_csv("./Tieliikenneonnettomuudet_2014/tieliikenneonnettomuudet_2014_osallinen.csv", encoding = "latin-1",sep = ";")

In [17]:
df2.head()

,Onnett_id,Osall_id,Osnro,Oslaji,Oslajisel,Peräv,Perävsel,Ajolaji,Ajolajisel,Ajoneuvika,Ajoneuvmas
0,6718385,11595733,1,30,henkilöauto,-1,Ei arvoa,1,ammattimaisessa ajossa,1.0,1817.0
1,6718385,11595734,2,33,linja-auto,-1,Ei arvoa,1,ammattimaisessa ajossa,5.0,12500.0
2,6661924,11595742,1,30,henkilöauto,-1,Ei arvoa,-1,Ei arvoa,0.0,965.0
3,6661924,11595743,2,32,kuorma-auto,-1,Ei arvoa,-1,Ei arvoa,9.0,7500.0
4,6691560,11595752,1,30,henkilöauto,-1,Ei arvoa,-1,Ei arvoa,14.0,1194.0

In [23]:
df3 = pd.merge(df, df2, on='Onnett_id', how='inner')

In [24]:
df3.head()

,Onnett_id,Tienpit,Tienpitsel,Tie,Aosa,Aet,Ajr,Vuosi,Kk,Vakavuusko,...,Osall_id,Osnro,Oslaji,Oslajisel,Peräv,Perävsel,Ajolaji,Ajolajisel,Ajoneuvika,Ajoneuvmas
0,6761989,1,Liikennevirasto,1.0,3.0,3.0,2.0,2014,10,0,...,11596091,1,30,henkilöauto,-1,Ei arvoa,-1,Ei arvoa,NaN,NaN
1,6652962,1,Liikennevirasto,1.0,3.0,8.0,1.0,2014,1,0,...,11591346,1,30,henkilöauto,-1,Ei arvoa,-1,Ei arvoa,0.0,915.0
2,6652962,1,Liikennevirasto,1.0,3.0,8.0,1.0,2014,1,0,...,11591347,2,32,kuorma-auto,-1,Ei arvoa,-1,Ei arvoa,NaN,NaN
3,6840693,1,Liikennevirasto,1.0,3.0,8.0,1.0,2014,8,0,...,11593407,1,30,henkilöauto,-1,Ei arvoa,-1,Ei arvoa,5.0,2185.0
4,6840693,1,Liikennevirasto,1.0,3.0,8.0,1.0,2014,8,0,...,11593620,2,30,henkilöauto,-1,Ei arvoa,-1,Ei arvoa,0.0,1000.0

In [25]:
df3.sort_values("Onnett_id").head(20)[["Onnett_id", "Vuosi", "Kk", "Vkpv", "X", "Y", "Ajoneuvmas", "Vakavuus"]]

,Onnett_id,Vuosi,Kk,Vkpv,X,Y,Ajoneuvmas,Vakavuus
33677,6425463,2014,7,Sunnuntai,244634.0,6709688.0,1165.0,Ei henkilövahinkoja
33678,6425463,2014,7,Sunnuntai,244634.0,6709688.0,NaN,Ei henkilövahinkoja
33679,6425467,2014,12,Torstai,360197.0,6764350.0,NaN,Ei henkilövahinkoja
33680,6425467,2014,12,Torstai,360197.0,6764350.0,1520.0,Ei henkilövahinkoja
48182,6425469,2014,5,Perjantai,NaN,NaN,NaN,Ei henkilövahinkoja
48181,6425469,2014,5,Perjantai,NaN,NaN,NaN,Ei henkilövahinkoja
33681,6425473,2014,8,Lauantai,427697.0,6762610.0,915.0,Ei henkilövahinkoja
33682,6425473,2014,8,Lauantai,427697.0,6762610.0,13450.0,Ei henkilövahinkoja
33683,6425474,2014,5,Perjantai,423744.0,6877511.0,NaN,Ei henkilövahinkoja
33684,6425474,2014,5,Perjantai,423744.0,6877511.0,NaN,Ei henkilövahinkoja
48184,6425477,2014,4,Lauantai,NaN,NaN,1345.0,Ei henkilövahinkoja
48183,6425477,2014,4,Lauantai,NaN,NaN,NaN,Ei henkilövahinkoja
33685,6425480,2014,9,Perjantai,328079.0,6822093.0,1140.0,Ei henkilövahinkoja
48185,6425483,2014,6,Keskiviikko,NaN,NaN,NaN,Ei henkilövahinkoja
48186,6425484,2014,10,Torstai,NaN,NaN,1640.0,Ei henkilövahinkoja
48187,6425484,2014,10,Torstai,NaN,NaN,NaN,Ei henkilövahinkoja
33686,6425485,2014,6,Sunnuntai,514478.0,6839236.0,1970.0,Ei henkilövahinkoja
33687,6425485,2014,6,Sunnuntai,514478.0,6839236.0,1311.0,Ei henkilövahinkoja
33688,6425488,2014,5,Maanantai,532933.0,7120682.0,NaN,Ei henkilövahinkoja
48188,6425489,2014,5,Keskiviikko,529539.0,6796515.0,NaN,Ei henkilövahinkoja